extends ./layout/layout

block head
	include ./data/page-data.jade
	//- link(rel='stylesheet',href='./css/base.css')
	link(rel='stylesheet', href='../public/css/view.css')

block content
	//- include ./module/_header.jade
	include ./module/_module1.jade
	include ./module/_module2.jade

block script
	//- public data and script 
	script(src='../common/js/jquery-1.11.2.js')
	script(src='../public/js/master.js')
	script(src='../public/js/data.js')
	script(src='../public/js/view.js')