extends ./layout/layout

block head
	include ./data/page-data.jade
	//- link(rel='stylesheet',href='./css/base.css')
	link(rel='stylesheet', href='../common/css/font-awesome.min.css')
	link(rel='stylesheet', href='../common/css/_nav.css')
	link(rel='stylesheet', href='../common/css/_accordion-menu.css')
	link(rel='stylesheet', href='../public/css/view.css')

block content
	//- uis
	include ../common/module/_nav.jade
	include ../common/module/_accordion-menu.jade

	//- uniq modules
	h1 ユニークモジュール
	include ./module/_module1.jade
	include ./module/_module2.jade

block script
	//- public data and script 
	script(src='../common/js/jquery-1.11.2.js')
	script(src='../public/js/master.js')
	script(src='../public/js/data.js')

	script(src='../public/js/ui.js')
	script(src='../public/js/view.js')