h1 アコーディオン

dl.accordion-menu.accordion-menu--theme
	dt
		a.toggle(href='#') リスト1
	dd
		p.text
			|テキストテキストテキストテキストテキストテキストテキスト
		p.text
			|テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
	dt
		a.toggle(href='#') リスト2
	dd
		p.text
			|テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
			
	dt
		a.toggle(href='#') リスト3
	dd
		p.text
			|テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト