h1 ヘッダー

header.header
	h1.header__title
		a(href="")
			|タイトル

	a.header__prev-btn(href="")
		|戻る

	button.header__nav-btn.fa.fa-bars
		p.hide-text
			|開く

	button.header__search-btn
		i.fa.fa-search
		p.hide-text
			|検索

nav.nav
	button.nav__close-btn.fa.fa-times
		p.hide-text
			|閉じる
	ul
		li
			a(href="#") Home
		li
			a(href="#") menu-1
		li
			a(href="#") menu-2
		li
			a(href="#") menu-3
