.off-canvas
	p here is canvas. here is canvas. here is canvas. here is canvas. here is canvas. here is canvas. here is canvas. here is canvas. here is canvas. here is canvas. here is canvas. here is canvas. here is canvas. here is canvas. here is canvas.

.off-canvas-content
	.switcher
		|ボタン

	.main
		h1 オフキャンバス
			span.en(style="font-size: .8rem; font-style: italic; margin-left: 8px;") off-canvas
		p
			|メインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメイン
