h1 プルダウン

.pull-down
	.pull-down__trigger

	.pull-down__target
		p here is pull downed area. here is pull downed area. here is pull downed area. here is pull downed area. here is pull downed area. here is pull downed area. here is pull downed area. here is pull downed area. here is pull downed area. here is pull downed area. here is pull downed area.
