@charset "UTF-8"

/**
 * common setting: separate other file
 */

*
	margin 0
	padding 0

body
	font-size 1.0rem

.wrapper
	padding 7px 7px 0

img
	vertical-align bottom

/**
 * setting each view style
 */

._0000_ui-name.view
	margin-bottom 20px

	.article_header
		// border 5px solid #f4a

	.section1
		margin-top 20px
