- var pageTitle   = 'page title';
- var keywords = 'keyword1, keyword2, keyword3, keyword4';
- var description = 'page description';
- var pageId      = '0000_ui-name';
- var kpiQuery    = 'kpi=' + pageId;
- var cacheClear  = (Math.random()*10000000000000).toString().substring(0, 12);
